<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit product</title>

  <link rel="stylesheet" href="/css/base.css"/>
  <link rel="stylesheet" href="/css/admin/edit-product-form.css"/>
</head>
<body>
<div class="container">
  <h3 class="editProductForm__header">Edit product</h3>
  <form class="editProductForm" action="#" th:action="@{/admin/product/{id}/update(id=${product.id})}" th:object="${product}" method="post">
    <div class="editProductForm__inputWrapper">
      <label for="name">Name</label>
      <input id="name" type="text" th:field="*{name}"/>
    </div>
    <div class="editProductForm__inputWrapper">
      <label for="price">Price</label>
      <input id="price" type="number" step="0.01" th:field="*{price}"/>
    </div>
    <div class="editProductForm__inputWrapper">
      <label for="weight">Weight</label>
      <input id="weight" type="number" step="0.01" th:field="*{weight}"/>
    </div>
    <div class="newProductForm__inputWrapper">
      <label for="categoryId">Category</label>
      <select id="categoryId" th:field="*{category.id}">
        <option th:each="c:${categories}" th:value="${c.id}" th:text="${c.name}"></option>
      </select>
    </div>
    <div class="editProductForm__inputWrapper">
      <label for="description">Description</label>
      <textarea id="description" th:field="*{description}"></textarea>
    </div>
    <input type="submit" value="Submit"/>
  </form>
</div>
</body>
</html>
