<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>

    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/admin/product-management.css"/>
</head>
<body>
<div class="container">
    <div>
        <a href="/logout">Log out</a>
    </div>
    <div class="tableHeading">
        <h3 class="tableHeading__header">Product table</h3>
        <a class="tableHeading__button" href="/admin/product/create">
            <button>+ New product</button>
        </a>
    </div>

    <table class="productTable">
        <thead class="productTable__thead">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Weight [kg]</th>
            <th>Price [PLN]</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody class="productTable__tbody">
        <tr th:each="p:${products}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.weight}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.category.name}"></td>
            <td>
                <menu class="productMenu">
                    <li class="productMenu__item">
                        <a th:href="@{/admin/product/{id}(id=${p.id})}">
                            <button>View details</button>
                        </a>
                    </li>
                    <li class="productMenu__item">
                        <a th:href="@{/admin/product/{id}/update(id=${p.id})}">
                            <button>Edit</button>
                        </a>
                    </li>
                    <li class="productMenu__item">
                        <a th:href="@{/admin/product/{id}/delete(id=${p.id})}">
                            <button>Delete</button>
                        </a>
                    </li>
                </menu>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>