<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>

    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/admin/product.css"/>
</head>
<body>
<div class="container">
    <div class="productDetails">
        <h3 th:text="'Szczegóły produktu: ' + ${product.name}"></h3>
        <span class="productDetails__span" th:text="'ID: ' + ${product.id}"></span>
        <span class="productDetails__span" th:text="'Price: ' + ${product.price} + ' PLN'"></span>
        <span class="productDetails__span" th:text="'Weight: ' + ${product.weight} + ' kg'"></span>
        <span class="productDetails__span" th:text="'Category: ' + ${product.category.name}"></span>
        <span class="productDetails__span" th:text="'Description: ' + ${product.description}"></span>
    </div>
</div>
</body>
</html>