.summary__table {
    margin: 30px;
    border: 3px solid black;
}

.summary__table__thead th {
    border: 2px solid black;
}

.summary__table__tbody td {
    border: 1px solid gray;
}

.summary__productMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 5px;
}

.summary__productMenu__item {
    list-style-type: none;
    margin: 5px;
}
