.shop__header {
    display: flex;
    align-items: center;
    background: lightgray;
}

.shop__header__h1 {
    margin-left: auto;
    margin-right: auto;
}

.shop__header__basketImg {
    width: 60px;
    height: 60px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    border: 2px solid black;
    margin: 10px;
    background: lightgray;
}

.category__title {
    color: darkred;
    margin: 5px;
}

.category__table {
    margin: 30px;
    border: 3px solid black;
}

.category__table__thead th {
    border: 2px solid black;
}

.category__table__tbody td {
    border: 1px solid gray;
}

.category__productMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 5px;
}

.category__productMenu__item {
    list-style-type: none;
    margin: 5px;
}

a {
    margin-left: 20px;
    margin-right: 20px;
}
