<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basket summary</title>

    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/user/basket-summary.css"/>
</head>
<body>
<div class="container">
    <header class="summary__header">
        <h1 class="summary__header__h1">Your basket summary</h1>
    </header>

    <div th:text="'You have ' + ${numberOfItems} + ' items in your basket'"></div>

    <table class="summary__table">
        <thead class="summary__table__thead">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Weight [kg]</th>
            <th>Price [PLN]</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody class="summary__table__tbody">
        <tr class="summary__table__product" th:each="item:${items}">
            <td th:text="${item.product.id}"></td>
            <td th:text="${item.product.name}"></td>
            <td th:text="${item.product.price}"></td>
            <td th:text="${item.product.weight}"></td>
            <td th:text="${item.quantity}"></td>
            <td>
                <menu class="summary__productMenu">
                    <li class="summary__productMenu__item">
                        <a th:href="@{/product/{id}/increment-in-basket(id=${item.product.id})}">
                            <button>+</button>
                        </a>
                    </li>
                    <li class="summary__productMenu__item">
                        <a th:href="@{/product/{id}/decrement-in-basket(id=${item.product.id})}">
                            <button>-</button>
                        </a>
                    </li>
                    <li class="summary__productMenu__item">
                        <a th:href="@{/product/{id}/remove-from-basket(id=${item.product.id})}">
                            <button>Delete</button>
                        </a>
                    </li>
                </menu>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:text="'Total: ' + ${total} + 'PLN'"></div>
    <a href="/submit-order">
        <button>Submit order!</button>
    </a>
</div>
</body>
</html>