<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>

    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/user/shop.css"/>
</head>
<body>
<div class="container">
    <header class="shop__header">
        <h1 class="shop__header__h1">Online shop</h1>
        <a th:href="@{/basket-summary}">
            <img class="shop__header__basketImg" src="/img/basket.png" alt="basket" />
        </a>
        <span class="shop__header__basketCount" th:text="'You have ' + ${numberOfBasketItems} + ' items in basket'"></span>
        <a href="/logout">Log out</a>
    </header>

    <div class="category" th:each="c:${categories}">
        <h3 class="category__title" th:text="${c.name}"></h3>
        <table class="category__table">
            <thead class="category__table__thead">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Weight [kg]</th>
                <th>Price [PLN]</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody class="category__table__tbody">
            <tr class="category__table__product" th:each="p:${c.products}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.price}"></td>
                <td th:text="${p.weight}"></td>
                <td>
                    <a th:href="@{/product/{id}/add-to-basket(id=${p.id})}">
                        <button>Add to basket</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>