.editProductForm {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: flex-start;
}

.editProductForm__header {
    margin-left: 40px;
}

.editProductForm__inputWrapper {
    background: lightgray;
    padding: 10px;
    margin: 10px;
}

.editProductForm__inputWrapper label {
    margin-right: 20px;
}

.editProductForm input[type="submit"] {
    margin-top: 10px;
    margin-left: 10px;
}
