.tableHeading {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.tableHeading__header {
    margin: 5px 20px;
}

.tableHeading__button {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.productTable {
    margin: 30px;
    border: 3px solid black;
}

.productTable__thead th {
    border: 2px solid black;
}

.productTable__tbody td {
    border: 1px solid gray;
}

.productMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 5px;
}

.productMenu__item {
    list-style-type: none;
    margin: 5px;
}
